body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%; /* Alterado de 604px para 100% para permitir que o corpo ocupe toda a largura da tela */
  background-color: #2C2B3D;
  min-height: 100vh;
}

.page {
  max-width: 1280px; /* Alterado de width para max-width para manter a página responsiva */
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
}

h1, ul {
  font-family: 'JetBrains Mono', monospace;
}

main {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 38px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: bold; /* Corrigido de 'font-height' para 'font-weight' */
}

h1 span {
  color: #00BFA6;
  font-weight: bold; /* Corrigido de 'font-height' para 'font-weight' */
}

section p {
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

#footer {
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 80px;
}

#footer #line {
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #00BFA6; /* Corrigido para a ordem correta das propriedades de border */
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;
}